# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest


    services:
      db:
       image: postgres:11
       ports: ['5432:5432']
       options: >-
        --health-cmd -pg_isready
        --health-interval 10s
        --health-timeout  5s
        --health-retries 5
         
         
       

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-verion: 2.7.1
    - name: build and run tests
      env:
        DATABASE_URL:  potgres://postgres:@localhost:5432/grocery_test
        RAILS_ENV: test
        RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY}}
      run: |
        sudo apt-get -yqq install libpq-dev
        gem install bundler
        bundle install --jobs 4 retry 2
        bundle exec rails db:prepare
        bundle exec rails test
        
